---
layout: default
---

- each post in getCollection("posts").toJSON()
	article
		header
			h1
				a(href="#{post.url}")  #{post.title}
			p.meta
				time(datetime="#{post.date.toISOString()}")
					!= post.date.toDateString()
		.entry-content
			!= post.description
			| ..
